annotated-types==0.7.0
anyio==4.4.0
asn1crypto==1.5.1
blinker==1.8.2
Brlapi==0.8.5
catfish==4.16.4
cffi==1.17.1
click==8.1.7
cryptography==43.0.1
dbus-python==1.3.2
distlib==0.3.8
distro==1.9.0
dnspython==2.6.1
email_validator==2.2.0
fastapi==0.112.2
filelock==3.14.0
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
h11==0.14.0
html5lib==1.1
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
kali-tweaks==2023.3.2
lightdm-gtk-greeter-settings==1.2.3
louis==3.29.0
MarkupSafe==2.1.5
mechanize==0.4.10
netifaces==0.11.0
onboard==1.4.1
passlib==1.7.4
pexpect==4.9.0
platformdirs==4.2.1
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pycairo==1.26.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
PyGObject==3.48.2
PyMySQL==1.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.14
PyQt5-sip==12.13.0
PySide6==6.7.2
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
python-apt==2.9.0
python-dotenv==1.0.1
pyxdg==0.28
shiboken6==6.7.2
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.32
sqlmodel==0.0.21
starlette==0.38.2
tk==0.1.0
typing_extensions==4.12.2
urllib3==1.26.18
uvicorn==0.30.6
virtualenv==20.26.1
webencodings==0.5.1
Werkzeug==3.0.3
xdg==5
